<a href="#" class="aside-link">open sidebar</a>
<div class="container">
<div class="wrap-aside">
    <aside>
        <div class="btn big positive edit-btn">edit book</div>
        <div class="btn big negative del-btn">delete book</div>

        <div class="widget-label added">
            <span class="accent">Added:</span>
            <p>Jan 16, 2015</p>
        </div>

        <div class="widget-label modified">
            <span class="accent">Last Modified:</span>
            <p>Apr 28, 2015</p>
        </div>

        <div class="widget-label random-quote">
            <span class="accent">Random quote:</span>
            <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magni, aut debitis sit dignissimos adipisci sapiente reiciendis id soluta voluptatum officiis culpa inventore, nesciunt alias amet laudantium voluptates quos eligendi. "</p>
        </div>
    </aside>
</div>



<section class="main-content">
    <section id="book-details">

        <div class="flags">
            <div class="flag info-flag" ng-click="changeTab('info')" ng-class="{active : isCurrent('info')}">info</div>
            <div class="flag abstr-flag" ng-click="changeTab('abstr')" ng-class="{active : isCurrent('abstr')}">abstract</div>
            <div class="flag cont-flag" ng-click="changeTab('cont')" ng-class="{active : isCurrent('cont')}">content</div>
        </div>


        <section id="book-info" ng-show="isCurrent('info')">
            <img class="cover" ng-src="{{book.image}}" alt="book cover">
            <div class="info-categories">
                <p class="author" ng-show="book.author">{{book.author}}</p>
                <p class="title" ng-show="book.title">{{book.title}}</p>
                <p class="genre" ng-show="book.category"><span class="category">Genre:</span>{{book.category}}</p>
                <p class="length" ng-show="book.length"><span class="category">Print length:</span> {{book.length}} pages</p>
                <p class="publisher" ng-show="book.publisher"><span class="category">Publisher:</span> {{book.publisher}}</p>
                <p class="pub-date" ng-show="book.publicationDate"><span class="category">Publication date:</span> {{book.publicationDate}}</p>
                <div class="rate" ng-show="book.rate">
                    <span>{{book.rate}}</span><img src="images/star.png" alt="">
                </div>
            </div>
            <p class="description" ng-show="book.description"><span class="category">Description:</span>{{book.description}}</p>
        </section>


        <section id="book-abstract" ng-show="isCurrent('abstr')">
            <div class="add-abstr-section">
                <textarea id="abst-area" placeholder="add a new quote, note or review" ng-model="abstrItemToAdd.content"></textarea>
                <label for="">
                    <input type="radio" value="quote" name="abstr-type" ng-model="abstrItemToAdd.type">
                    <p>quote</p>
                </label>
                <label for="">
                    <input type="radio" value="note" name="abstr-type" ng-model="abstrItemToAdd.type">
                    <p>note</p>
                </label>
                <label for="">
                    <input type="radio" value="review" name="abstr-type" ng-model="abstrItemToAdd.type">
                    <p>review</p>
                </label>
            </div>
            <div class="btn positive add-abstr-btn" ng-click="addAbstrItem()">+</div>

            <article class="review" ng-show="book.review">
                <p>Review</p>
                <p>{{book.review}}</p>
            </article>

            <div class="abstr-items">
                <p class="no-content-massage" ng-hide="book.abstractItems.length">Your abstract is empty yet. Add some quotes, notes and wright a review!</p>
                <article ng-repeat="item in book.abstractItems" class="{{item.type}}">
                    {{item.content}}
                </article>
            </div>
        </section>


        <section id="book-content" ng-show="isCurrent('cont')">
            Here will be content of the book. Coming soon...
        </section>
    </section>
</section>
</div>