<section id="book-editing">

    <div class="cover-box">
        <img src="images/The_Book_(Front_Cover).jpg" alt="book cover" class="cover">
        <div class="change-cover-btn">change cover</div>
    </div>

    <input type="text" placeholder="author" name="author" id="author">
    <input type="text" placeholder="title" name="title" id="title" required>
    <input type="text" placeholder="genre" name="genre" id="genre">
    <input type="text" placeholder="publisher" name="publisher" id="publisher">
    <input type="text" placeholder="language" name="language" id="language">
    <input type="text" placeholder="ASIN" name="asin" id="asin">

    <label for="length">
        <span>Length:</span>
        <input type="number" placeholder="pages" name="length" id="length">
    </label>

    <label for="rate">
        <span>Rate:</span>
        <input type="number" name="rate" max=5 min="1" value="5" id="rate">
    </label>

    <label for="publDate">
        <span>Publication date:</span>
        <input type="date" name="publDate" id="publDate">
    </label>

    <label for="description">
        <span>Description:</span>
        <textarea name="description" id="description"></textarea>
    </label>

    <div class="btn-box clearfix">
        <div class="btn big positive ok">save</div>
        <div class="btn big negative cancel">cancel</div>
    </div>

</section>
