<section id="book-list">
    <article class="new-book-btn">
        <div class="back">
            <div class="search-book-btn btn positive">manually</div>
            <div class="manually-btn btn positive">search</div>
        </div>
        <div class="front">
            <img src="images/plus.png" alt="add new book">
            <p>add new</p>
        </div>
    </article>

    <article class="book-instance">
        <div class="back">
            <p class="book-author">Tolkien John</p>
            <p class="book-name">The Hobbit</p>
            <p class="review">Review</p>
            <p class="quotes">Quotes: 14</p>
            <p class="notes">Notes: 7</p>
            <div class="rate">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
            </div>
        </div>
        <div class="front">
            <img src="images/The_Book_(Front_Cover).jpg" alt="Book cover">
        </div>
    </article>

</section>
