<section id="book-info">
    
    <img class="cover" src="images/The_Book_(Front_Cover).jpg" alt="book cover">
    <div class="info-categories">
        <p class="author">Tolkien John</p>
        <p class="title">The Hobbit</p>
        <p class="genre"><span class="category">Genre:</span> Adventures</p>
        <p class="length"><span class="category">Print length:</span> 322 pages</p>
        <p class="publisher"><span class="category">Publisher:</span> Houghton Mifflin Harcourt</p>
        <p class="pub-date"><span class="category">Publication date:</span> February 15, 2012</p>
        <p class="language"><span class="category">Language:</span> English</p>
        <p class="asin"><span class="category">ASIN:</span> BOO79KT81G</p>
        <div class="rate">
            <img src="images/star.png" alt="">
            <img src="images/star.png" alt="">
            <img src="images/star.png" alt="">
        </div>
    </div>
    <p class="description"><span class="category">Description:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, cumque illo accusantium, fuga suscipit aspernatur dolor. Quisquam neque, quia cupiditate doloribus optio voluptas hic nobis vitae maiores, eveniet labore repellendus!
    </p>

</section>
