<div class="container">
    <modal-backdrop></modal-backdrop>
    <div class="wrap-aside" ng-class="{ active: isActiveAside}">
        <aside>
            <div class = "aside-scroll">
                <main-nav></main-nav>
                <statistics-section></statistics-section>
            </div>
        </aside>
    </div>
    <section class="main-content">

        <div class="search-form">
            <form class="form-control" name="formSearch" novalidate>
                <div>
                    <label for="search">Search books:</label>
                    <div class="search-input">
                        <input id="search" type="text" name="text" ng-model="searchParam.text" class="btn big" required>
                        <input type="submit" class="btn big positive" value="Search" ng-click="submitSearch(formSearch)">
                    </div>

                </div>
                <div>
                    <div class="radio">
                        <input id="field_0" name="term" type="radio" value="all" ng-model="searchParam.byTerm" ng-checked="true">
                        <label class="choice" for="field_0">All</label>
                    </div>
                    <div class="radio">
                        <input id="field_1" name="term" type="radio" value="inauthor" ng-model="searchParam.byTerm">
                        <label class="choice" for="field_1">By author</label>
                    </div>
                    <div class="radio">
                        <input id="field_2" name="term" type="radio" value="intitle" ng-model="searchParam.byTerm">
                        <label class="choice" for="field_2">By name</label>
                    </div>
                </div>
            </form>
            <p class="no-content-massage" ng-show="noResults">No results found for request {{searchParam.text}}</p>
        </div>
        <div id="book-list" class="search-results">
            <ul>
                <li class="book-instance" ng-repeat="book in tempBooks">
                    <div class="back">
                        <p class="book-author">{{book.author | limitTo:20}}<span ng-hide="book.author.length < 20">...</span></p>
                        <p class="book-name">{{book.title | limitTo:25}}<span ng-hide="book.title.length < 25">...</span></p>

                        <button ng-hide="book.isAdded" class="btn-add btn positive" ng-click="addBook($index, book)"><span>Add this book</span></button>
                        <span ng-show="book.isAdded" class="icon-added">Added</span>
                    </div>
                    <div class="front">
                        <img ng-src="{{book.image}}" alt="Book cover">
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
