@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

$container-width: 1020px;

$color0: #2B3740;
$color1: #626F79;
$color2: #C0C0C0;
$color3: #FBFAF9;
$color4: #FFFFFF;
$colorA: #2EAC69;
$colorB: #F58410;

$font1: 'Roboto Slab';
$font2: 'Oswald';
$font3: 'Raleway';

$header-height: 70px;
$sidebar-width: 260px;

$book-search-height: 125px;
$book-filter-height: 230px;
$statistics-section-height: 150px;

$section-margin: 30px;

$book-instance-margin: 20px;
$book-instance-width: ($container-width - $sidebar-width - $section-margin - $book-instance-margin * 3) / 4;
$book-instance-height: 230px;
$book-transition-time: .3s;

$buttons-transition-time: .2s;


.book-search {
    height: $book-search-height;
    input {
        margin-top: 12px;
        height: 30px;
    }
}



// layout
.statistics-section {
    height: $statistics-section-height;
    .btn {
        margin-top: 10px;
        border: 2px solid $color3;
    }
}
// styles
.statistics-section {
    padding-top: 10px;
    text-align: center;
}



// layout
.new-book-btn {
    float: left;
    width: $book-instance-width;
    height: $book-instance-height;
    margin: 0 $book-instance-margin $book-instance-margin 0;
    overflow: hidden;
    .front, .back {
        width: $book-instance-width;
        height: $book-instance-height;
    }
    .front {
        position: relative;
        top: -$book-instance-height;
    }
}
.new-book-btn:hover {
    .front {
        transform: translateX(-$book-instance-width);
    }
}
// styles
.new-book-btn {
    .front, .back {
        border: 3px dashed $colorA;
        border-radius: 5px;
    }
    .front {
        transition: $book-transition-time;
        transition-delay: .2s;
        text-align: center;
        background: $color3;
        img {
            margin-top: 65px;
            width: 40px;
            height: 40px;
        }
        p {
            font-size: 23px;
            font-weight: bold;
            margin-top: 5px;
            color: $colorA;
        }
    }
    .front:hover {
        cursor: pointer;
    }
    .back {
        padding-top: 30px;
        background: $color4;
        .search-book-btn, .manually-btn {
            color: $color3;
            font-size: 18px;
            background: $colorA;
            padding: 15px;
            margin: 15px 10px 10px;
        }
        .search-book-btn:hover, .manually-btn:hover {
            background: $colorB;
        }
    }
}