.book-search-section {
    height: $book-search-height;
    margin-bottom: 50px;
    p {
        margin-bottom: 20px;
    }
    input {
        height: 30px;
    }
    input:nth-of-type(2) {
        margin: 5px 0 5px;
    }
}
// layout
.statistics-section {
    height: $statistics-section-height;
    .btn {
        margin-top: 10px;
        border: 2px solid $color3;
    }
}
// styles
.statistics-section {
    padding-top: 10px;
    text-align: center;
}
// layout
.new-book-btn {
    float: left;
    width: $book-instance-width;
    height: $book-instance-height;
    margin: $book-instance-margin;
    overflow: hidden;
    .front,
    .back {
        width: $book-instance-width;
        height: $book-instance-height;
    }
    .front {
        position: relative;
        top: -$book-instance-height;
    }
}
.new-book-btn:hover {
    .front {
        transform: translateX(-$book-instance-width);
    }
}
// styles
.new-book-btn {
    .front,
    .back {
        border: 3px dashed $colorA;
        border-radius: 5px;
    }
    .front {
        transition: $book-transition-time;
        transition-delay: .2s;
        text-align: center;
        background: $color3;
        img {
            margin-top: 65px;
            width: 40px;
            height: 40px;
        }
        p {
            font-size: 23px;
            font-weight: bold;
            margin-top: 5px;
            color: $colorA;
        }
    }
    .front:hover {
        cursor: pointer;
    }
    .back {
        padding-top: 30px;
        background: $color4;
        .search-book-btn,
        .manually-btn {
            color: $color3;
            font-size: 18px;
            background: $colorA;
            padding: 15px;
            margin: 15px 10px 10px;
            display: block;
            text-decoration: none;
        }
        .search-book-btn:hover,
        .manually-btn:hover {
            background: $colorB;
        }
    }
}
