#book-abstract {
    min-height: 410px;
    padding: 40px 35px;
    color: $color0;
    .add-abstr-section {
        width: 100%;
        border-top-left-radius: 5px;
        margin-bottom: 40px;
    }
    textarea {
        padding: 10px;
        float: left;
        width: calc(100% - 60px);
        height: 60px;
        resize: none;
        border: 1px solid $color2;
        border-bottom: none;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-right: none;
        font-family: $font1;
        background: $color4;
        font-size: 16px;
        color: $color0;
    }
    .add-abstr-btn {
        float: right;
        width: 60px;
        height: 90px;
        padding-top: 18px;
        font-size: 40px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: bold;
    }
    label {
        display: block;
        float: left;
        height: 30px;
        width: calc((100% - 60px) / 3);
        p {
            text-align: center;
            height: 30px;
            background: $color4;
            color: $colorA;
            font-size: 16px;
            font-weight: bold;
            transition: $buttons-transition-time;
            border-bottom: 1px solid $color2;
        }
    }
    label:hover {
        cursor: pointer;
    }
    label:first-of-type p {
        border-bottom-left-radius: 5px;
        border-left: 1px solid $color2;
    }
    label:last-of-type p {
        
    }
    input {
        display: none;
    }
    input:checked + p {
        color: $colorA;
        border-bottom: 4px solid $colorA;
    }
    .abstr-items {
        clear: both;
    }
    .no-content-massage {
        padding-top: 50px;
    }
    article {
        transition: $buttons-transition-time;
        border-bottom: 1px solid $color2;
        .item-body {
            padding: 15px 10px;
        }
        .btn-box {
            display: none;
            margin-top: 20px;
            padding: 0 15px 15px 0;
            font-weight: normal;
            font-family: $font1;
            .btn {
                width: 50px;
                float: right;
                width: 70px;
            }
            .negative {
                border: none;
                background: none;
                color: $color1;
                margin-right: 10px;
            }
            .negative:hover {
                background: $color1;
                color: $color3;
            }
        }
    }
    article:hover {
        background: $color2;
        cursor: pointer
    }
    article.opened {
        background: $color2;
        .btn-box {
            display: block;
        }
    }
    article.review {
        clear: both;
        border-bottom: 1px solid $color2;
        .item-body {
            padding: 0 20px 20px 20px;
        }
        p {
            padding: 5px 0;
            font-family: $font1;
            font-size: 18px;
        }
        p:first-child {
            color: $color2;
            margin: 10px 0;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            font-family: $font1;
            transition: $buttons-transition-time;
        }
    }
    article.quote {
        font-weight: bolder;
        .item-body {
            padding: 20px 25px 35px 17px;
        }
        span:before {
            content: '“';
            float: left;
            font-size: 50px;
            margin-right: 10px;
            color: $color2;
        }
        span:after {
            content: '”';
            float: right;
            font-size: 50px;
            margin-left: 10px;
            color: $color2;
        }
    }
    article.note {
        .item-body {
            padding-left: 20px;
        }
        font-family: $font1;
        font-size: 15px;
    }
}
.widget-label.quotes-in-book {
    margin-top: 58px;
}
.widget-label.notes-in-book {
    margin-top: 10px;
}
.filter-abstr {
    margin-top: 50px;
}
