
#book-abstract {
    min-height: 410px;
    padding: 40px 35px;
    color: $color0;
       
    .add-abstr-section {
        float: left;
        width: calc(100% - 50px);
        border: 2px solid $color1;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 5px 15px 5px 5px;
        background: $color4;
        margin-bottom: 40px;
    }

    textarea {
        padding: 10px;
        width: 100%;
        height: 50px;
        resize: none;
        border: none;
        font-family: $font1;
        background: $color4;
        font-size: 16px;
        color: $color0;
    }

    .add-abstr-btn {
        float: right;
        width: 50px;
        height: 93px;
        padding-top: 21px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-size: 35px;
        font-weight: bold;
    }
    
    label{ 
        display: block;
        float: left;
        height: 25px;
        margin-right: 5px;
        width: calc((100% - 10px) / 3);
        p {
            text-align: center;
            height: 25px;
            border: 1px solid $color1;
            border-radius: 2px;
            color: $color1;
            font-size: 16px;
            transition: $buttons-transition-time;
        }
    }
    label:hover {
        cursor: pointer;
    }
    label:last-of-type {
        margin-right: 0;
    }

    input {
        display: none;
    }
    input:checked + p {
        color: $colorB;
        border-color: $colorB;
    }
    
    
    article {
        transition: $buttons-transition-time;
        margin-bottom: 10px;
    }
    article:hover {
        background: $color2;
        cursor: pointer
    }
    
    article.review {
        clear: both;
        border-top: 3px solid $color2;
        border-bottom: 3px solid $color2;
        padding: 0 23px 20px 28px;
        margin-bottom: 30px;
        
        p {
            padding: 5px 0;
            font-family: $font3;
            font-size: 17px;
        }
        
        p:first-child {
            color: $color2;
            margin: 10px 0;
            padding-bottom: 10px;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            font-family: $font2;
            border-bottom: 1px solid $color2;
            transition: $buttons-transition-time;
        }
    }
    article.review:hover p:first-child {
        color: $color1;
        border-bottom: 1px solid $color1;
    }
    
    article.quote {
        border-left: 8px solid $color2;
        padding: 15px 10px 15px 21px;
        font-weight: bolder;
    }
    article.quote:hover {
        border-left: 8px solid $color1;
    }
    
    article.note {
        padding: 10px 10px 10px 29px;
        font-family: $font3;
        font-size: 15px;
    }
}


.widget-label.quotes-in-book {
    margin-top: 58px;
}

.widget-label.notes-in-book {
    margin-top: 10px;
}

.filter-abstr {
    margin-top: 50px;
}