@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

$color0: #2B3740;
$color1: #626F79;
$color2: #C0C0C0;
$color3: #FBFAF9;
$color4: #FFFFFF;
$colorA: #2EAC69;
$colorB: #F58410;

$font1: 'Roboto Slab';
$font2: 'Oswald';
$font3: 'Raleway';

$book-transition-time: .3s;
$buttons-transition-time: .2s;




///////////// VERY BASIC STYLES //////////////

body {
    background: $color1;
    font-family: $font1;
}

p {
    margin: 0;
}

// to prevent unexpected outlines in chrome
*:focus {
    outline: 0;
}


// text with orange background
span.accent {
    font-family: $font2;
    background: $colorB;
    color: $color3;
    padding: 0 10px;
}


// important paragraphs in aside
.widget-label {
    font-size: 18px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
    background: $color3;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea {
  outline: 0;
  background-color: #faede0;
}


///////////////////BASIC FORM STYLES ///////////
form.form-control {
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password]{
         height: 30px;
    }
    label{
        color:#fff;
        font-size: 18px;
        line-height: 30px;
    }
}
form.form-control > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form.form-control > div > label {
    width: 25%;
    float: left;
    padding-right: 10px;
    text-align: right;
}
form.form-control > div > div {
  width: 75%;
  float: right;
}
.signup{
    width: 80%;
    margin: 0 auto;
}


/////////////////// BUTTONS ///////////////////

// all buttons
.btn {
    text-align: center;
    border-radius: 5px;
    color: $color3;
    transition: $buttons-transition-time;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    border-style:groove!important;
}

// big buttons (in aside)
.btn.big {
    font-size: 18px;
    padding: 10px;
    border: 2px solid $color3;
}


// buttons which accept smth.
.btn.positive {
    background: $colorA;
}
.btn.positive:hover {
    background: $colorB;
}


// buttons which cancel smth.
.btn.negative {
    background: none;
    border: 2px solid $color3;
    font-weight: lighter;
}
.btn.negative:hover {
    background: $color3;
    color: $color1;
    font-weight: normal;
}
.btn.google {
    background: url(../images/google.png) no-repeat;
    width: 140px!important;
    height: 44px;
    float: left;
    margin-right: 20px; 
}



////////////// BASIC PAGE PARTS /////////////////

body>header {
    background: $color0;
    color: $color3;
    
    .logo-and-name p {
        font-family: $font1;
        font-size: 34px;
        font-weight: bold;
        transition: $buttons-transition-time;
    }
    .logo-and-name:hover {
        cursor: pointer;
        color: $colorB;
    }
    .top-nav {
        li {
            list-style: none;
            border-right: 1px solid $color3;
            padding: 2px 10px 5px;
            transition: $buttons-transition-time;
            a {
                color: $color3;
                text-decoration: initial;
            }
        }
        li:hover {
            background: $color3;
            a {
                color: $color0;
            }
        }
        li:last-child {
            border-right: none;
        }
    }
    .logged-user {
        padding: 5px 12px;
        border: 2px solid $color3;
        font-size: 18px;
        border-radius: 2px;
    }
    .logged-user:hover {
        background: $color3;
        color: $color0;
    }
}



aside {
    color: $color3;
    padding: 30px 0;
    
    .filter {
        label {
            text-align: center;
            padding: 1px;
            font-size: 15px;
            border-radius: 2px;
            transition: $buttons-transition-time;
        }
        label:hover {
            cursor: pointer;
            background: $color3;
            color: $colorB;
            font-weight: bolder;
            input:checked + span {
                color: darkgray;
            }
        }
        .btn {
            margin-top: 15px;
        }
        input {
            display: none;
        }
        input:checked + span {
            color: darkgray;
        }
    }
}



// small instances of the books
.book-instance {
    transition: $book-transition-time;
    transition-delay: .2s;
    font-family: $font3;
    border-radius: 4px;
    box-shadow: 3px 3px 1px $color0;
    .front {
        background: $colorA;
        transition: $book-transition-time;
        transition-delay: .2s;
        cursor: pointer;
    }
    .back {
        background: $color4;
        text-align: center;
        color: $color0;
        padding: 25px 25px;
        .book-author, .book-name {
            font-family: $font2;
        }
        .book-author {
            font-size: 18px;
        }
        .book-name {
            font-weight: bold;
            font-size: 20px;
            padding-bottom: 16px; 
        }
        .review {
            padding-top: 5px;
            border-top: 2px solid $colorB;
            font-size: 14px;
        }
        .quotes {
            font-size: 14px;
        }
        .notes {
            font-size: 14px;
            padding-bottom: 5px;
            border-bottom: 1px solid $colorB;
        }
        .rate {
            margin-top: 15px;
        }
    }
}
.book-instance:hover {
    cursor: pointer;
}


// view with book info, abstract and content
#book-details {
    background: $color3;
    border-radius: 3px;
    
    .flags {
        height: 35px;
        width: 100%;
        background: $color2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        .flag {
            float: left;
            height: 100%;
            width: ($container-width - $aside-width - $section-margin) / 3;
            text-align: center;
            padding-top: 5px;
            font-size: 18px;
            color: $color1;
            transition: $buttons-transition-time;
        }
        .info-flag, 
        .abstr-flag {
            border-right: 2px solid $color3;
        }
        .info-flag {
            border-top-left-radius: 3px;
        }
        .cont-flag {
            border-top-right-radius: 3px;
        }
        .flag:hover {
            cursor: pointer;
            background: $colorB;
            color: $color3;
        }
        
        .active {
            background: $color3;
            }
        .active:hover {
            cursor: auto;
            color: $color1;
            background: $color3;
        }
    }

}
header.about{
    color:#fff;
    margin-bottom: 10%;
    text-align: center;
}