///////////// VERY BASIC STYLES //////////////
body {
    background: $color1;
    font-family: $font1;
}
p {
    margin: 0;
}
ul, h1, h3{
    margin:0;
    padding:0;
    list-style: none;
}
a {
    text-decoration: none;
}
h1{
      font-family: "Roboto Slab";
      font-size: 30px;
      margin-bottom: 20px;
}
h3{
      font-family: "Roboto Slab";
      font-size: 30px;
      margin-bottom: 10px;
}

// to prevent unexpected outlines in chrome
*:focus {
    outline: 0;
}
.no-overflow {
    overflow-x: hidden;
}
// text with orange background
span.accent {
    font-family: $font3;
    font-weight: bold;
    background: $colorB;
    color: $color3;
    padding: 2px 7px;
    font-weight: bolder;
    white-space: nowrap;
}
p.no-content-message {
    font-size: 20px;
    font-family: $font3;
    color: $color2;
    text-align: center;
}
// important paragraphs in aside
.widget-label {
    font-size: 18px;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
    background: $color3;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus {
    background-color: #faede0;
}
///////////////////BASIC FORM STYLES ///////////
form.form-control {
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password] {
        height: 30px;
    }
    label {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
    }
    input.ng-invalid {
        border: 2px solid $colorB!important;
    }
}
form.form-control > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form.form-control > div > label {
    width: 25%;
    float: left;
    padding-right: 10px;
    text-align: right;
}
form.form-control > div > div {
    width: 75%;
    float: right;
}
.signup {
    width: 80%;
    margin: 0 auto;
}
.icon-added{
    display: block;
    height: 70px;
    width: 70px;
    background-color: $colorA;
    border-radius: 35px;
    color: #fff;
    margin: 0 auto;
    line-height: 70px;
}
/////////////////// BUTTONS ///////////////////
// all buttons
.btn {
    text-align: center;
    border-radius: 5px;
    color: $color3;
    transition: $buttons-transition-time;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    border-style: groove!important;
}
// big buttons (in aside)
.btn.big {
    font-size: 18px;
    padding: 10px;
    border: 2px solid $color3;
}
// buttons which accept smth.
.btn.positive {
    background: $colorA;
}
.btn.positive:hover {
    background: $colorB;
}
// buttons which cancel smth.
.btn.negative {
    background: none;
    border: 2px solid $color3;
}
.btn.negative:hover {
    background: $color3;
    color: $color1;
    font-weight: normal;
}
.btn.google {
    background: url(../images/google.png) no-repeat;
    width: 140px!important;
    height: 44px;
    float: left;
    margin-right: 20px;
}
.del-btn {
    display:block;
}
////////////// BASIC PAGE PARTS /////////////////
body>header {
    background: $color0;
    a .logo-and-name p {
        font-family: $font1;
        font-size: 34px;
        color: $color3;
        font-weight: bold;
        transition: $buttons-transition-time;
    }
    a .logo-and-name:hover p {
        cursor: pointer;
        color: $colorB;
    }
    .logged-user {
        padding: 5px 12px;
        border: 2px solid $color3;
        font-size: 18px;
        border-radius: 2px;
    }
    .logged-user:hover {
        background: $color3;
        color: $color0;
    }
}
.top-nav {
    li {
        list-style: none;
        border-right: 1px solid $color3;
        padding: 2px 10px 5px;
        transition: $buttons-transition-time;
        a {
            color: $color3;
            text-decoration: initial;
            display: block;
            width: 100%;
            max-height: 100%;
        }
    }
    li:hover {
        background: $color3;
        a {
            color: $color0;
        }
    }
    li.active {
        background: $color3;
        a {
            color: $color0;
        }
    }
    li:last-child {
        border-right: none;
    }
}
aside {
    color: $color3;
    padding: 30px 0;
    .filter {
        label {
            text-align: center;
            color: darkgray;
            padding: 1px;
            font-size: 15px;
            border-radius: 2px;
            transition: $buttons-transition-time;
        }
        label:hover {
            cursor: pointer;
            background: $color3;
            color: $colorB;
            font-weight: bolder;
            input:checked + span {
                color: $color1;
            }
        }
        .btn {
            margin-top: 15px;
        }
        input {
            display: none;
        }
        input:checked + span {
            color: $color3;
        }
    }
}
// small instances of the books
.book-instance {
    transition: $book-transition-time;
    transition-delay: .2s;
    font-family: $font3;
    border-radius: 4px;
    box-shadow: 3px 3px 1px $color0;
    a {
        text-decoration: none;
    }
    .front {
        background: $color3;
        transition: $book-transition-time;
        transition-delay: .2s;
        cursor: pointer;
    }
    .back {
        text-decoration: none;
        background: $color4;
        text-align: center;
        color: $color0;
        padding: 20px 15px;
        .book-name {
            font-family: $font2, sans-serif;
            line-height: 19px;
            overflow: hidden;
        }
        .book-author {
            font-size: 15px;
            max-height: 40px;
            font-family: $font3, sans-serif;
            margin: 5px 0;
        }
        .book-name {
            font-weight: bold;
            font-size: 17px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            max-height: 110px;
            border-bottom: 2px solid $colorB;
        }
        .review {
            font-size: 14px;
        }
        .quotes {
            font-size: 14px;
        }
        .notes {
            font-size: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid $colorB;
        }
        .rate {
            margin-top: 15px;
        }
    }
}
.book-instance:hover {
    cursor: pointer;
}

.more-info-box, .more-info-btn {
    display: none;
}


// view with book info, abstract and content
#book-details {
    max-width: 749px;
    background: $color3;
    border-radius: 3px;
    .flags {
        height: 35px;
        width: 100%;
        background: $color2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        .flag {
            float: left;
            height: 100%;
            width: calc(100% / 3);
            text-align: center;
            padding-top: 5px;
            font-size: 18px;
            color: $color1;
            transition: $buttons-transition-time;
        }
        .info-flag,
        .abstr-flag {
            border-right: 2px solid $color3;
        }
        .info-flag {
            border-top-left-radius: 3px;
        }
        .cont-flag {
            border-top-right-radius: 3px;
        }
        .flag:hover {
            cursor: pointer;
            background: $colorB;
            color: $color3;
        }
        .active {
            background: $color3;
        }
        .active:hover {
            cursor: auto;
            color: $color1;
            background: $color3;
        }
    }
}

.rate img {
    width: 25px;
    height: 25px;
    padding: 5px;
}

