
//laptops & tablets
@media screen and (max-width: 1023px){
}

//tablets & larger smartphones
@media screen and (max-width: 767px), screen and (orientation: landscape) and (max-width: 767px), screen and (orientation: portrait ) and (max-width: 767px) {
//layout
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 999;
	  background-color: #fff;
	  opacity: 0.5
	}
	.modal-backdrop.active {
		display: none;
	}
	body>header{
		z-index: 1000;
		.btn-menu{
			display: block;
			border:0;
			background:none;
			float: right;
			overflow: hidden;
			text-indent: -9999px;
			width: 50px;
			height: 41px;
			position: relative;
			margin: 15px 20px 0 0;
			background: url(../images/btn-menu.png) no-repeat;
			background-size: 100px 41px;
			background-position: 0 0;
		}
		.btn-menu.active{background-position: -50px 0;}

		.top-nav{
			display:none;
		}
	}

	.content {
		.main-content{
			padding-left:0;
		}
		.wrap-aside{
			background: $color0;
			position: fixed;
			z-index: 1000;
			left:0;
			top:$header-height;
			height: 100%;
			padding: 0;

       		.top-nav {
            	display: block;
            	margin-bottom: 30px;
            	 li {
			        border:none;
			        border-bottom: 1px solid $color3;
			        padding: 0;
			    }
			    a{
			    	padding: 5px;
			    }
      		}
		}
		.wrap-aside.active{
			display: none;
		}

		aside{
			display: block;
			overflow-y: auto;		
			height: 100%;
			left: 10px;
			top: 0;
			padding: 10px;
		}
		

	}
	//end layout

	//form

	  form.form-control > div {
	    margin: 0 0 15px 0; 
	  }
	  form.form-control > div > label {
	    width: 100%;
	    float: none;
	    margin: 0 0 5px 0;
	  }
	  form.form-control > div > div {
	    width: 100%;
	    float: none;
	  }
	  .search-form {
	    .form-control{
	       label{
	            display: block;
	        }
	    }
	 }
	//end form

}
//smaller smartphones
@media screen and (max-width: 480px){
	body>header {
		.logged-user {
			display: none;
		}
	}

}