
#statistics {
    
    // left side
    .message-books-img {
        float: left;
        height: 100%;
        width: 100%;
        padding-right: 60px;
    }
    .message {
        color: $color3;
        padding-bottom: 70px;
    }
    .result {
        font-size: 22px;
    }
    .level {
        padding-top: 10px;
        font-size: 35px;
        font-weight: bolder;
    }
    .important {
        padding: 5px 0 1px 10px;
        color: $color1;
        background: $color3;
    }
    
    
    // section under message
    .books-img {
        float: left;
        width: 100%;
        border-top: 1px dashed $color3;
        border-bottom: 1px dashed $color3;
        border-right: 1px dashed $color3;
        padding-left: 7px;
        position: relative;
        .comparison {
            float: left;
            width: 40%;
            height: 60%;
            margin-top: 2%;
            img{
                max-width:100%;
                max-height: 100%;
            }
        }
        .arrow {
            position: absolute;         
            right: -10px;
            width: 0;
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 20px 10px;
            
        }
        .arrow-top{
            top:-20px;
            border-color: transparent transparent #fff transparent;
        }
        .arrow-bottom{
            bottom:-20px;
            border-color: #fff transparent transparent transparent;
        }

        .books {
            float: left;
            width: 60%;
        }
        
        .book {
            position: relative;
            display: table;
            box-shadow: 0 3px 0 3px $color3, 3px 3px 0 3px $color3, -3px 3px 0 3px $color3;
            border: 1px solid $color3;
            p {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                color: #fff;
                padding-left: 10px;
                font-size: 13px;

            }
        }
        .book:nth-child(3n), .book:nth-child(3n + 2) {
            background: $color1;
        }
        .book:nth-child(3n + 1) {
            background: $colorA;
        }
        // for now it is just hardcode...
        .book:first-child {
            box-shadow: 0 4px 0 7px $color3;
        }
        .book:last-child {
            box-shadow: 0 3px 0 3px $color3, -3px 3px 0 3px $color3, 3px 3px 0 3px $color3;
        }
        .book:nth-child(1) {
            width: 97%;
            height: 20px;
        }
    }
}     

// right side
.stat-info {
    width: 100%;
    background: $color3;
    color: $color0;
    padding: 20px 30px;
    font-family: $font3;
    border-radius: 3px;
    .title {
        font-family: $font2;
        font-size: 43px;
        color: $color1;
        font-weight: bold;
        border-bottom: 3px solid $color1;
        text-align: center;
        margin-bottom: 25px;
    }
    .primary {
        margin: 15px 0 10px;
        font-size: 20px;
        font-weight: bolder;
    }
    li {
        list-style: none;
    }
    .secondary {
        margin-left: 20px;
        
    }
}