@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto+Condensed:400,700,300&subset=latin,cyrillic);


$container-width: 1020px;
$color0: #2B3740;
$color1: #626F79;
$color2: #C0C0C0;
$color3: #FBFAF9;
$color4: #FFFFFF;
$colorA: #2EAC69;
$colorB: #F58410;
$font1: 'Roboto Slab';
$font2: 'Roboto Slab', sans-serif;
$font3: 'Roboto Condensed', serif;
$header-height: 70px;
$aside-width: 260px;
$book-search-height: 145px;
$book-filter-height: 230px;
$statistics-section-height: 120px;
$section-margin: 30px;
$book-instance-margin: 10px;
$book-instance-width: 169px;
$book-instance-height: 230px;
$book-transition-time: .3s;
$buttons-transition-time: .2s;


