<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details - Abstract</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo-and-name">
                <img src="images/1309128948.png" alt="BookMan">
                <p>Bookman</p>
            </div>
           
            <div class="logged-user btn">
                User Name
            </div>
            <a href="#" class="btn-menu">open menu</a>
            <nav class="top-nav top-nav-mobile">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">statistics</a></li>
                    <li><a href="#">profile</a></li>
                    <li><a href="#">about</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="content">
        <a href="#" class="aside-link">open sidebar</a>
        <div class="container">
            <div class="wrap-aside">
                <aside>
                    
                    <div class="btn big positive edit-btn">edit book</div>
                    <div class="btn big negative del-btn">delete book</div>
                    
                    <div class="widget-label quotes-in-book">
                        <span class="accent">Quotes</span> in this book: 5
                    </div>
                    
                    <div class="widget-label notes-in-book">
                        <span class="accent">Notes</span> in this book: 7
                    </div>
                    
                    <div class="filter filter-abstr">
                        <p class="widget-label"><span class="accent">Filter</span> this abstract:</p>
                        <label for="">
                            <input type="checkbox">
                            <span>Review</span>
                        </label>
                        <label for="">
                            <input type="checkbox">
                            <span>Quotes</span>
                        </label>
                        <label for="">
                            <input type="checkbox">
                            <span>Notes</span>
                        </label>
                        <div class="btn big negative">reset filters</div>
                    </div>
                    
                </aside>
            </div>
            <section class="main-content">
                <section id="book-details">
                    <div class="flags">
                        <div class="flag info-flag">info</div>
                        <div class="flag abstr-flag active">abstract</div>
                        <div class="flag cont-flag">content</div>
                    </div>
                    
                    <section id="book-abstract">
                        
                        <div class="add-abstr-section">
                            <textarea id="abst-area" cols="30" rows="10" placeholder="add a new quote, note or review"></textarea>
                            <label for="">
                                <input type="radio" name="abstr-type" checked>
                                <p>quote</p>
                            </label>
                            <label for="">
                                <input type="radio" name="abstr-type">
                                <p>note</p>
                            </label>
                            <label for="">
                                <input type="radio" name="abstr-type">
                                <p>review</p>
                            </label>
                        </div>
                        <div class="btn positive add-abstr-btn">+</div>
                        
                        <article class="review">
                            <p>Review</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolorum reprehenderit nesciunt impedit, numquam doloremque a ad ut,
                            nobis aut voluptatum cum distinctio. Consectetur et, blanditiis
                            impedit explicabo quos! Voluptates, eaque!</p>  
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ea voluptate, sequi accusantium expedita distinctio nulla illum,
                            quasi id laboriosam. </p>                        
                        </article>
                        
                        <article class="quote">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolores, architecto ea vel esse voluptatibus sequi aut beatae quod debitis,
                            impedit maxime! Illo aperiam maxime debitis aut natus, quis dolore dignissimos!
                        </article>
                        
                        <article class="note">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </article>
                        
                        <article class="note">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ea voluptate, sequi accusantium expedita distinctio nulla illum,
                            quasi id laboriosam.
                        </article>
                        
                        <article class="quote">
                            Dolorum reprehenderit nesciunt impedit, numquam doloremque a ad ut,
                            nobis aut voluptatum cum distinctio. Consectetur et, blanditiis
                            impedit explicabo quos! Voluptates, eaque!
                        </article>
                        
                    </section>
                    
                </section>
            </section>
        </div>
    </div>
    
    <script src="scripts/app.min.js"></script>
</body>
</html>