<div class="container">
    <section class="main-content">
        <div id="about" class="clearfix">
            <article>
                <header><h1>About Books Manager app</h1></header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </article>
        </div>
    </section>
</div>