<div class="container">
    <modal-backdrop></modal-backdrop>
    <div class="wrap-aside" ng-class="{ active: isActiveAside}">
        <aside>
			<main-nav></main-nav>
			<div class="widget-label">
				<p><span class="accent">Team members:</span></p>
				<ul>
					<li>Oksana Puga</li>
					<li>Andrey Trots</li>
				</ul>
			</div>
        </aside>
    </div>
<div class="container">
    <section class="main-content mobile">
        <div class="white-block">
            <article>
                <header><h1><span class="title">About Books Manager app</span></h1></header>
                <p>The application for tracking list of read books. Bookman allows to see short information about your books, wright and save an abstract to each book such as quotes, notes or review. Also there is available interesting statistics which includes different levels of your reading experience.</p>
            </article>
        </div>
    </section>
</div>