<div class="filter">
    <p class="widget-label"><span class="accent">Filter</span> your books:</p>
    <label for="">
        <input type="checkbox">
        <span>Adventures</span>
    </label>
    <label for="">
        <input type="checkbox">
        <span>Science</span>
    </label>
    <label for="">
        <input type="checkbox">
        <span>Business</span>
    </label>
    <label for="">
        <input type="checkbox">
        <span>Romantic</span>
    </label>
    <div class="btn big negative">reset filters</div>
</div>
