<a href="#" class="btn-menu {{class}}">open menu</a>
<nav class="top-nav top-nav-mobile {{class}}">
    <ul>
        <li ng-class="{ active: isActive('/books') }" ><a ng-href="#/books">home</a></li>

        <li ng-class="{ active: isActive('/statistics') }"><a ng-href="#/statistics">statistics</a></li>

        <li ng-class="{ active: isActive('/profile') }"><a ng-href="#/profile">profile</a></li>
        
        <li ng-class="{ active: isActive('/about') }"><a ng-href="#/about">about</a></li>
    </ul>
</nav>