<a href="#" class="aside-link">open sidebar</a>
<div class="container">
    <div class="wrap-aside">
        <aside>
            <edit-delete-btn></edit-delete-btn>

            <quick-statistics></quick-statistics>

            <filter-abstract></filter-abstract>

        </aside>
    </div>



    <section class="main-content">
        <section id="book-details">

            <div details-flags></div>

            <section id="book-abstract" ng-show="isCurrent('abstr')">
                <div class="add-abstr-section">
                    <textarea id="abst-area" placeholder="add a new quote, note or review" ng-model="abstrItemToAdd.content"></textarea>
                    <label for="">
                        <input type="radio" value="quote" name="abstr-type" ng-model="abstrItemToAdd.type">
                        <p>quote</p>
                    </label>
                    <label for="">
                        <input type="radio" value="note" name="abstr-type" ng-model="abstrItemToAdd.type">
                        <p>note</p>
                    </label>
                    <label for="">
                        <input type="radio" value="review" name="abstr-type" ng-model="abstrItemToAdd.type">
                        <p>review</p>
                    </label>
                </div>
                <div class="btn positive add-abstr-btn" ng-click="addAbstrItem()">+</div>

                <article class="review" ng-show="book.review && typesToShow.review">
                    <p>Review</p>
                    <p>{{book.review}}</p>
                </article>

                <div class="abstr-items">
                    <p class="no-content-massage" ng-hide="book.abstractItems.length || book.review">Your abstract is empty yet. Add some quotes, notes and wright a review!</p>
                    <article ng-repeat="item in book.abstractItems | abstractFilter:typesToShow" class="{{item.type}}">
                        {{item.content}}
                    </article>
                </div>
            </section>

        </section>
    </section>
</div>
