<open-aside-btn></open-aside-btn>
<div class="container">
    <div class="wrap-aside">
        <aside>
            <div class="stat-info">
                <p class="title">Your statistics:</p>
                <p class="primary"><span class="accent">All books: {{statistics.amountBooks}}</span></p>
                <li class="secondary">Adventures: 5</li>
                <li class="secondary">Science: 3</li>
                <li class="secondary">Fantasy: 2</li>
                <li class="secondary">Romantic: 1</li>
                <p class="primary"><span class="accent">Quotes: {{statistics.quotesAmountAll}}</span></p>

                <p class="secondary" ng-show="statistics.avarageQuotes > 0">Avarage amount of quotes per book:{{statistics.avarageQuotes}}</p>
                <p class="secondary" ng-hide="statistics.avarageQuotes > 0">Amount of books which have quotes: {{statistics.sumBooksQuotes}}</p>

                <p class="primary"><span class="accent">Notes: {{statistics.notesAmountAll}}</span></p>

                <p class="secondary" ng-show="statistics.avarageNotes > 0">Avarage amount of notes per book:{{statistics.avarageNotes}}</p>
                <p class="secondary" ng-hide="statistics.avarageNotes > 0">Amount of books which have notes:{{statistics.sumBooksNotes}}</p>

                <p class="primary"><span class="accent">Reviews: {{statistics.reviewAmountAll}}</span></p>
            </div>

        </aside>
    </div>


    <section class="main-content">
        <div id="statistics" class="clearfix">

            <div class="message-books-img">
                <div class="message">
                    <p class="result">Your books have <span class="accent">{{booksHeight}}cm</span> height in sum.</p>
                    <p ng-show = "booksHeight < 30" class="level"><span class="important">Hey, it is higher then a <span class="accent">chicken !</span></span></p>
                    <p ng-show = "booksHeight < 150 && booksHeight > 30" class="level"><span class="important">Hey, it is higher then a <span class="accent">chicken 2 !</span></span></p>
                    <p ng-show = "booksHeight > 150" class="level"><span class="important">Hey, it is higher then a <span class="accent">chicken 3 !</span></span></p>
                </div>
                <div class="books-img">
                    <div class="books">
                        <div class="book" style="width: {{book.style.width}}%; left: {{book.style.left}}%; height: {{book.style.height}}px" ng-repeat="book in books">
                            <p>{{book.title |  limitTo: 20}}<span ng-hide="book.title.length < 20">...</span></p>
                        </div>
                    </div>
                                    
                    <div ng-show = "booksHeight < 30" class="comparison"><img src="images/524191,1320567119,2.png" alt="chicken!"></div>
                    <div ng-show = "booksHeight < 150 && booksHeight > 30" class="comparison"><img src="images/stat2.png" alt="chicken2!"></div>
                    <div ng-show = "booksHeight > 150" class="comparison"><img src="images/stat3.png" alt="chicken3!"></div>
                    <div class="arrow arrow-top"></div>
                    <div class="arrow arrow-bottom"></div>
                  
                </div>
            </div>
        </div>
    </section>
</div>